/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/module.navbar.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* .nav-position {
    position: fixed;
} */

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: blue;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

/* @media(max-width:1000px) {
    .nav-position {
        position: relative;
    }
} */

.orange-link {
    display: inline-block;
    text-decoration: none;
}

.orange-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f97316;
    transition: width .3s;
}

.orange-link:hover::after {
    width: 100%;
}

.animate-bounce {
    animation: bounce 2s infinite;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/SocialIcons/SocialIcons.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.main_icon {
    z-index: 1000;
}


