MONGODB_URI=mongodb://localhost:27017/icdrc
JWT_SECRET=your_jwt_secret_here

NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CLIENT_ID=your_google_client_id

NEXT_PUBLIC_BACKEND_URL=http://localhost:7000
NEXT_PUBLIC_MERCHANT_ID=your_phonepe_merchant_id
NEXT_PUBLIC_SALT_KEY=your_phonepe_salt_key
NEXT_PUBLIC_SALT_INDEX=1
