/* .nav-position {
    position: fixed;
} */

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: blue;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

/* @media(max-width:1000px) {
    .nav-position {
        position: relative;
    }
} */

.orange-link {
    display: inline-block;
    text-decoration: none;
}

.orange-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f97316;
    transition: width .3s;
}

.orange-link:hover::after {
    width: 100%;
}

.animate-bounce {
    animation: bounce 2s infinite;
}
